In [ ]:
# os abaixo comentados são utilizados para criar a matriz de dados manualmente, sem leitura de arquivos
# df=[]

# titulo=[]
# titulo.append('Marca')
# titulo.append('Modelo')
# titulo.append('Ano')
# titulo.append('Valor')

# df.append(titulo)

import pandas as pd

df=pd.read_csv('dados.csv')
continuar='1'
while continuar=='1':
    a=input('*****************************''\n''*Sistema autocarros EulerRCM*''\n''*****************************''\n'
            'MENU PRINCIPAL''\n''1 - Ler os veiculos''\n''2 - Adicionar veiculo''\n''3 - Exibir carros por grupo'
            '\n''4 - Remover Veículo''\n''5 - Salvar Alterações''\n''6 - Sair''\n')
    while a!='2' and a!='1' and a!='3' and a!='4' and a!='5' and a!='6':
        print('a=',a,'   .   ')
        print('Valor invalido, digite novamente')
        a=input('MENU PRINCIPAL''\n''1 - Ler os veiculos''\n''2 - Adicionar veiculo''\n''3 - Exibir carros por grupo''\n'
                '4 - Remover Veículo''\n''5 - Salvar Alterações''\n''6 - Sair''\n')
    
    
    if a=='1':
        print('\n''\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\')
        print('Veículos cadastrados no sistema: ''\n')
        print(df)
        print('\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''\n')
    if a=='2':
        carro=[]
        carro.append(input('Digite a marca:'))
        carro.append(input('Digite o modelo:'))
        carro.append(input('Digite a cor:'))
        carro.append(input('Digite o ano:'))
        carro.append(input('Digite o valor:'))
        df=df.append({'Marca':carro[0],'Modelo':carro[1],'Cor':carro[2],'Ano':carro[3],'Valor':carro[4]},ignore_index=True)
        print('Veículo inserido no sistema!')
        
        
    if a=='3':
        b=input('FILTRAR POR:''\n''1 - Valor''\n''2 - Montadora''\n''3 - Modelo''\n''4 - Ano ')
        while b!='2' and b!='1' and b!='3' and b!='4':
            print('b=',a,'   .   ')
            print('Valor invalido, digite novamente')
            b=input('FILTRAR POR:''\n''1 - Valor''\n''2 - Montadora''\n''3 - Modelo''\n''4 - Ano ''\n')
       
        if b=='1':
            valorsup=int(input('Insira o valor maximo: '))
            valorinf=int(input('Insira o valor mínimo: '))
            cont=0
            for x in range(0,len(df)):
            
                if df.iloc[x,4]<=valorsup and df.iloc[x,4]>=valorinf:
                    cont=1
                    break
                
            if cont ==0:
                print('\n''Não foram encontrads carros nesta faixa de preço')
            
            if cont==1:
                print('\n''Os carros encontrados nessa faixa de preço são:')  
                for x in range(0,len(df)):                
                    if df.iloc[x,4]<=valorsup and df.iloc[x,4]>=valorinf:
                        print (df.iloc[x,:])
                    
                    
        if b=='2':
            montadora=input('Insira a montadora: ')            
#             cont=0
#             for x in range(1,len(df)):
            
#                 if df[x][3]<=valorsup and df[x][3]>=valorinf:
#                     cont=1
#                     break
                
#             if cont ==0:
#                 print('\n''Não foram encontrads carros nesta faixa de preço')
            
#             if cont==1:
#                 print('\n''Os carros encontrados nessa faixa de preço são:')  
#                 for x in range(1,len(df)):
                
#                     if df[x][3]<=valorsup and df[b][3]>=valorinf:
                    
#                         print (df[x])
            
            print('ok, b=2')
        if b=='3':
            print('ok, b=3')
        if b=='4':
            print('ok, b=4')
            
            
    if a=='4':    #remover linha
        linha=int(input('Insira o código do automóvel a ser inserido:  '))
        df=df.drop(linha)
        
            
    if a=='5':    #Salvar o  dataframe
        df.to_csv('dados.csv',index=False)
        print('Dados salvos.')
        
    if a=='6':
        print('Encerrado.')
        continuar = 0

*****************************
*Sistema autocarros EulerRCM*
*****************************
MENU PRINCIPAL
1 - Ler os veiculos
2 - Adicionar veiculo
3 - Exibir carros por grupo
4 - Remover Veículo
5 - Salvar Alterações
6 - Sair
1

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Veículos cadastrados no sistema:

  Marca  Modelo     Cor   Ano  Valor
0    GM   Celta   Verde  2004   7500
1  Ford  Ranger  Branco  2009  29000
2    aw      sd      gg    12     44
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

In [20]:
df.drop(2)

  Marca  Modelo     Cor   Ano  Valor
0    GM   Celta   Verde  2004   7500
1  Ford  Ranger  Branco  2009  29000

In [21]:
df.drop(0)

  Marca  Modelo     Cor   Ano  Valor
1  Ford  Ranger  Branco  2009  29000
2    aw      sd      gg    12     44